// /* Default */
$main-color:		  #1A1A1A;
$default-font-size:		20;
$main-font-size:		18;
$main-line-height:		1.3;
$main-font-family:		'Jost', sans-serif;
$body-color:			#E5E5E5;

/* Colors */
$black: #1A1A1A;
$white: #FFFFFF;
$primary: #FB8251;
$gray70: #414141;
$gray50: #8A8A8A;
$gray20: #E7E7E7;
$green: #29C318;
$blue: #185CC3;
$red: #FB5151;
$purple: #C551FB;
